version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  backend:
    image: mi-backend:latest
    container_name: backend-container
    hostname: backend-container
    build:
      context: ./CedulaApi
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/mi_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      - db
    networks:
      app-network:
        aliases:
          - backend-container

  frontend:
    image: mi-frontend:latest
    container_name: frontend-container
    hostname: frontend-container
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      app-network:
        aliases:
          - frontend-container

  db:
    image: mysql:latest
    container_name: mysql-container
    hostname: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mi_db
    ports:
      - "3306:3306"
    networks:
      app-network:
        aliases:
          - mysql-container
